HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

projekt/ads/node_modules/*
projekt/ads/node_modules
projekt/contactForm/node_modules/*
projekt/contactForm/node_modules
projekt/users/node_modules
projekt/users/node_modules/*
projekt/users/.env
projekt/contactForm/.env
projekt/ads/.env